#videoContainer {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  video {
    width: 100%;
  }
  .videoControls {
    // opacity: 0;
    // transition: opacity 0.5s ease-in;
    // &.showing {
    //   opacity: 1;
    // }
    width: 95%;
    background-color: pink;
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr auto;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    .videoControls__play {
      display: flex;
      justify-content: space-around;
      #play {
        font-size: 20px;
      }
      .videoControls_time {
        font-size: 18px;
      }
    }
  }
}
