doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body 
        header       
            h1 Who is sexy? 
            nav 
                ul 
                    li
                        a(href="/") Home
                    li
                        a(href="/search") Search
                    if loggedIn 
                        li
                            a(href="/videos/upload") Upload video
                        li 
                            a(href="/users/edit") Edit Profile
                        li 
                            a(href="/users/logout") Logout
                    else        
                        li
                            a(href="/login") Login
                        li
                            a(href="/join") Join
        main    
            block content
            input(placeholder="hello" type="text")
    include partials/footer.pug