extends base

block content 
    form(method="POST")
        input(name="email", placeholder="email" type="email" required value=loggedInUser.email)
        input(name="name", placeholder="name" type="text" required value=loggedInUser.name)
        input(name="username", placeholder="username" type="text" required value=loggedInUser.username)
        input(name="location",placeholder="location" type="text" required value=loggedInUser.location)
        input(type="submit", value= "Update Profile")