extends base.pug


block content
    div.pageTitle-edit
        h4 EDIT YOUR VIDEO
        h4 #{video.title}
    form(method="POST").edit-profile__form
        label(for="title") TITLE
        input(id="title" name="title" placeholder="New Title" value=video.title required)
        label(for="description") DESCRIPTION
        input(name="description" id="description" placeholder="Descrption" required type="text" value=video.description)
        label(for="hashtags") HASHTAGS
        input(name="hashtags" placeholder="Hashtags, seperated by comma." required type="text" value=video.hashtags.join())
        hr
        input(type="submit" value="Save").input-submit 