extends base.pug


block content
    h4 Change Title of Video #{video.id}
    form(method="POST")
        input(name="title" placeholder="New Title" value=video.title required)
        input(name="description" placeholder="Descrption" required type="text" value=video.description)
        input(name="hashtags" placeholder="Hashtags, seperated by comma." required type="text" value=video.hashtags.join())
        input(type="submit" value="Save") 