extends base

block content
    div.record-box
        video#preview
        button#actionBtn Start Recording 
    if errorMessage 
        span=errorMessage
    form(method="POST" enctype="multipart/form-data")
        label(for="video") Video file
        input(id="video" accept="video/*" required type="file" name="video")
        label(for="thumb") Thumbnail file
        input(id="thumb" accept="image/*" required type="file" name="thumb")
        input(name="title" placeholder="Title" required type="text")
        input(name="description" placeholder="Descrption" required type="text")
        input(name="hashtags" placeholder="Hashtags, seperated by comma." required type="text")
        input(type="submit" value="upload video")

block scripts 
    script(src="/static/js/recorder.js")        